<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriminalServlet</servlet-name>
        <servlet-class>controller.CriminalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>controller.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleServlet</servlet-name>
        <servlet-class>controller.RoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoleServlet</servlet-name>
        <servlet-class>controller.EditRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrimeServlet</servlet-name>
        <servlet-class>controller.CrimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommitServlet</servlet-name>
        <servlet-class>controller.CommitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCriminal</servlet-name>
        <servlet-class>controller.EditCriminal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCrimeServlet</servlet-name>
        <servlet-class>controller.EditCrimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCommitServlet</servlet-name>
        <servlet-class>controller.EditCommitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCriminalServlet</servlet-name>
        <servlet-class>controller.EditCriminalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriminalServlet</servlet-name>
        <url-pattern>/CriminalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleServlet</servlet-name>
        <url-pattern>/RoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoleServlet</servlet-name>
        <url-pattern>/EditRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrimeServlet</servlet-name>
        <url-pattern>/CrimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommitServlet</servlet-name>
        <url-pattern>/CommitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCriminal</servlet-name>
        <url-pattern>/EditCriminal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCrimeServlet</servlet-name>
        <url-pattern>/EditCrimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCommitServlet</servlet-name>
        <url-pattern>/EditCommitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCriminalServlet</servlet-name>
        <url-pattern>/EditCriminalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
